*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 500px;
    width: 100%;
    background-color: yellow;
    border: 10px solid red;
}
.left{
    float: left;
    margin: 2px;
    width: 1198px;
    height: 475px;
    background-color: green;
    text-align: center;
    color: white;
}
.right{
    float: right;
}
.right-top{
    margin: 2px;
    width: 310px;
    height: 200px;
    background-color: green;
    text-align: center;
    color: white;
}
.right-bottom{
    margin: 2px;
    width: 310px;
    height: 200px;
    background-color: green;
    text-align: center;
    color: white;
}



